<a href="https://colab.research.google.com/github/NeilTipton193/Covid_analysis/blob/main/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import os

In [37]:
pd.options.display.max_columns = None


*   sex: 1 for female and 2 for male.
*   age: of the patient.
*   classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different
degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.
*   patient type: type of care the patient received in the unit. 1 for returned 
home and 2 for hospitalization.
*   pneumonia: whether the patient already have air sacs inflammation or not.
*   pregnancy: whether the patient is pregnant or not.
*   diabetes: whether the patient has diabetes or not.
*   copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.
*   asthma: whether the patient has asthma or not.
*   inmsupr: whether the patient is immunosuppressed or not.
*   hypertension: whether the patient has hypertension or not.
*   cardiovascular: whether the patient has heart or blood vessels related disease.
*   renal chronic: whether the patient has chronic renal disease or not.
*   other disease: whether the patient has other disease or not.
*   obesity: whether the patient is obese or not.
*   tobacco: whether the patient is a tobacco user.
*   usmr: Indicates whether the patient treated medical units of the first, second or third level.
*   medical unit: type of institution of the National Health System that provided the care.
*   intubed: whether the patient was connected to the ventilator.
*   icu: Indicates whether the patient had been admitted to an Intensive Care Unit.
*   date died: If the patient died indicate the date of death, and 9999-99-99 otherwise.

In [38]:
df = pd.read_csv('/content/Covid Data.csv')

#See "https://www.kaggle.com/datasets/meirnizri/covid19-dataset?resource=download" for data dictionary.

df.head(10)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,3,97
5,2,1,1,2,9999-99-99,2,1,40,2,2,2,2,2,2,2,2,2,2,2,3,2
6,2,1,1,1,9999-99-99,97,2,64,2,2,2,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,9999-99-99,97,1,64,2,1,2,2,1,1,2,2,2,1,2,3,97
8,2,1,1,2,9999-99-99,2,2,37,2,1,2,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,9999-99-99,2,2,25,2,2,2,2,2,2,2,2,2,2,2,3,2

# New Section

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [40]:
#Remove rows where patient was not a carrier COVID or the test was inconclusive
df = df[df.CLASIFFICATION_FINAL < 4]
print(df.shape)

(391979, 21)

In [41]:
#Check missing values in each column 
for i in range(len(df.columns)):
    print(f"\nThe value counts for {df.columns[i]} are: \n")
    display(df[df.columns[i]].value_counts())

The value counts for USMER are:

2    244853
1    147126
Name: USMER, dtype: int64

The value counts for MEDICAL_UNIT are:

12    208226
4     126649
6      17688
9      14585
3       8631
8       4994
10      3807
11      3735
5       2853
7        414
13       345
1         40
2         12
Name: MEDICAL_UNIT, dtype: int64

The value counts for SEX are:

2    209489
1    182490
Name: SEX, dtype: int64

The value counts for PATIENT_TYPE are:

1    280687
2    111292
Name: PATIENT_TYPE, dtype: int64

The value counts for DATE_DIED are:

9999-99-99    337743
13/07/2020       787
06/07/2020       773
16/07/2020       761
07/07/2020       758
               ...
20/02/2021         1
18/02/2021         1
11/02/2021         1
10/02/2021         1
17/04/2021         1
Name: DATE_DIED, Length: 288, dtype: int64

The value counts for INTUBED are:

97    280687
2      86109
1      23670
99      1513
Name: INTUBED, dtype: int64

The value counts for PNEUMONIA are:

2     305934
1      86041
99         4
Name: PNEUMONIA, dtype: int64

The value counts for AGE are:

37     9019
45     8925
40     8909
30     8899
46     8891
       ...
119       1
116       1
104       1
120       1
106       1
Name: AGE, Length: 110, dtype: int64

The value counts for PREGNANT are:

97    209489
2     178353
1       2754
98      1383
Name: PREGNANT, dtype: int64

The value counts for DIABETES are:

2     328425
1      62114
98      1440
Name: DIABETES, dtype: int64

The value counts for COPD are:

2     384535
1       6131
98      1313
Name: COPD, dtype: int64

The value counts for ASTHMA are:

2     380258
1      10412
98      1309
Name: ASTHMA, dtype: int64

The value counts for INMSUPR are:

2     385757
1       4773
98      1449
Name: INMSUPR, dtype: int64

The value counts for HIPERTENSION are:

2     313864
1      76727
98      1388
Name: HIPERTENSION, dtype: int64

The value counts for OTHER_DISEASE are:

2     379825
1      10018
98      2136
Name: OTHER_DISEASE, dtype: int64

The value counts for CARDIOVASCULAR are:

2     382082
1       8506
98      1391
Name: CARDIOVASCULAR, dtype: int64

The value counts for OBESITY are:

2     317852
1      72774
98      1353
Name: OBESITY, dtype: int64

The value counts for RENAL_CHRONIC are:

2     382677
1       7952
98      1350
Name: RENAL_CHRONIC, dtype: int64

The value counts for TOBACCO are:

2     361798
1      28747
98      1434
Name: TOBACCO, dtype: int64

The value counts for CLASIFFICATION_FINAL are:

3    381527
1      8601
2      1851
Name: CLASIFFICATION_FINAL, dtype: int64

The value counts for ICU are:

97    280687
2      99322
1      10449
99      1521
Name: ICU, dtype: int64

In [42]:
#INTUBED, PREGNANT, and ICU are missing over half their data
## Others have fewer missing values, so we can simply drop the rows with those
miss_val_columns = ['PNEUMONIA', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR', 
                'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
               'RENAL_CHRONIC', 'TOBACCO']
#Drop with values other than the values of interest

for i in range(len(miss_val_columns)):
  df = df[(df[miss_val_columns[i]]==1) | (df[miss_val_columns[i]]==2)]


df.shape

(388878, 21)

In [43]:
# Drop INTUBED and ICU columns
df.drop(['INTUBED', 'ICU'], axis=1, inplace=True)

In [44]:
print("the male values for PREGNANT are: /n")
df[df.SEX==2].PREGNANT.unique()
print("the female values for PREGNANT are: /n")
df[df.SEX==1].PREGNANT.unique()

the male values for PREGNANT are: /n
the female values for PREGNANT are: /n

array([ 2,  1, 98])

In [45]:
#Assume 97 are males that are not pregnant
df.PREGNANT[df.PREGNANT == 97] = 2

# Remove the rows that don't equal 1 or 2
## This removes values of '98' for females
df = df[(df.PREGNANT == 1) | (df.PREGNANT == 2)]

<ipython-input-45-3c1792126ed2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.PREGNANT[df.PREGNANT == 97] = 2

In [46]:
#Create target based on DATE_DIED

df['DEATH'] = [0 if row=='9999-99-99' else 1 for row in df['DATE_DIED']]

In [47]:
df.drop('DATE_DIED', axis=1, inplace=True)

In [48]:
#Preproccessing 
df['DEATH'].value_counts()

0    334274
1     53322
Name: DEATH, dtype: int64

In [49]:
#Import preprocessing modules
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [50]:
#Split target from features
X = df.drop('DEATH', axis=1)
y = df['DEATH']

In [51]:
# Standardize the input variables to have zero mean and unit variance
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [52]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
#Import LogisticRegression Model
from sklearn.linear_model import LogisticRegression

In [54]:
# Create a logistic regression model and fit it to the training data
model = LogisticRegression()
model.fit(X_train, y_train.values.ravel())

LogisticRegression()

In [55]:
# Evaluate the model on the test data
score = model.score(X_test, y_test.values.ravel())

In [56]:
# Print the accuracy score of the model
print('Accuracy:', score)

Accuracy: 0.8952012383900929